doctype html
html
    head
        meta(
            charset="utf8"
        )
        meta(
            name="viewport",
            content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=1"
        )
        title Cifrado RC4
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='css/styles.css')
    body.modal-open
        #modal
            section#box
                .form
                    input(
                        type="text",
                        placeholder="Escribe tu mensaje a cifrar",
                        id="input-message",
                        required
                    )
                    input(
                        type="text",
                        placeholder="Escribe tu clave",
                        id="input-key",
                        required
                    )
                    button#cifrar CIFRAR
        header
            .container
                .operations
                    .control
                        button(id="step" class="fa fa-step-forward" aria-hidden="true")
                        button(id="ir-final" class="fa fa-fast-forward" aria-hidden="true")
                        button(id="parar" class="fa fa-stop" aria-hidden="true")
                    .elemento.f.no-value
                        .value
                        span.index f
        .container
            section#vector-k.dinamic.hide
                h2 VECTOR K
                .vector.vector-row
            section#vector-original-message.dinamic.hide
                h2 MENSAJE ORIGINAL
                .vector.vector-row
            section#vector-cipher-sec.dinamic.hide
                h2 VALORES DE SECUENCIA CIFRANTE
                .vector.vector-row
            section#crypted-message.dinamic.hide
                h2 MENSAJE CIFRADO
                .vector.vector-row
            section#vector-s
                h2 VECTOR S
                .vector
        script(
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        )

        script(
            src="js/array.js"
        )
        script(
            src="js/prga.js"
        )
